@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-100;
}

.scroll-hidden {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

@media (min-width: 550px) {
  .grid-columns {
    display: grid;
    grid-template-columns: 1fr auto;
  }
}

@media (min-width: 1024px) {
  .grid-columns {
    display: grid;
    grid-template-columns: 1fr auto auto;
  }
}