@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-100;
}

.scroll-hidden {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

@media (min-width: 640px) {
  .grid-columns {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}
