@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

* {
  touch-action: manipulation !important;
}

/* Ancho del scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Fondo del track del scrollbar */
::-webkit-scrollbar-track {
  background-color: transparent;
  display: none;
}

/* Color del thumb del scrollbar (la parte móvil) */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 8px;
  display: none;
}

::-webkit-scrollbar-thumb {
  display: block;
}

.scroll-hidden {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

button:focus {
  outline: none;
}

/* Stats */

.hidden-scrollbar {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.gradient-mask {
  --size-gradient: 12px;
  mask-image: linear-gradient(
    to right,
    transparent 3%,
    #000 var(--size-gradient),
    #000 calc(100% - var(--size-gradient)),
    transparent 100%
  );
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
  grid-gap: 20px;
}

.wrapper__holder {
  min-width: 450px;
  flex: 1;
  position: relative;
}
